<h2>People</h2>

<table class="table table-striped hidden-md hidden-lg">
  <thead>
      <tr>
        <th>Person</th>
      </tr>
  </thead>
  <tr data-ng-repeat="person in vm.people">
    <td>
      <a href="/people/{{person.id}}">
        <strong>{{person.name.personal}}</strong></a><br>
      <div data-ng-show="person.birth.date || person.birth.place">
        <strong>Born:</strong> {{person.birth.date}} {{person.birth.place}}
      </div>
      <div data-ng-show="person.death.date || person.death.place">
        <strong>Death:</strong> {{person.death.date}} {{person.death.place}}
      </div>
    </td>
  </tr>
</table>

<table class="table table-striped hidden-xs hidden-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birth</th>
      <th></th>
      <th>Death</th>
      <th></th>
    </tr>
  </thead>
  <tr data-ng-repeat="person in vm.people">
    <td>
      <a href="/people/{{person.id}}">
        {{person.name.personal}}</a>
    </td>
    <td>
      {{person.gender}}
    </td>
    <td>
      {{person.birth.date}}
    </td>
    <td>
      {{person.birth.place}}
    </td>
    <td>
      {{person.death.date}}
    </td>
    <td>
      {{person.death.place}}
    </td>
  </tr>
</table>
