<h2>{{vm.person.name.personal}}</h2>
<p>
  [Son|Daugter] of [Preferred Parents]<br>
  <span data-ng-show="vm.person.birth">
    born <span data-ng-show="vm.person.birth.date">{{vm.person.birth.date}}</span>
    <span data-ng-show="vm.person.birth.place">in {{vm.person.birth.place}}</span>
  </span>
</p>

<tabset class="event-listing">
  <tab heading="Events">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="event in vm.person.events">
        <td>
          {{event.type | uppercase}}
        </td>
        <td>
          {{event.date}}
        </td>
        <td>
          {{event.place.description}}
        </td>
        <td>
          <i class="bi-book"></i>
        </td>
      </tr>
    </table>
  </tab>
  <tab heading="Attributes">
    <p>
      Attributes go here.
    </p>
  </tab>
</tabset>
