
<nav class="navbar navbar-default navbar-static-top" data-ng-controller="NavbarController as vm">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="bi-leaf brand-leaf"></i>
        <span style="padding-left: 8px">Branchology</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse" data-collapse="vm.isCollapsed">
      <ul class="nav navbar-nav">
        <li data-ng-class="{'active': vm.isRouteActive('dashboard')}"><a href="/dashboard">Dashboard</a></li>
        <li data-ng-class="{'active': vm.isRouteActive('people')}"><a href="/people">People</a></li>
        <li data-ng-class="{'active': vm.isRouteActive('sources')}"><a href="/sources">Sources</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" data-ui-view></div>
