<div class="container">
  <div class="row">
		<div class="col-md-4 col-md-offset-4">
    	<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Please sign in</h3>
			 	</div>
			  <div class="panel-body">
			    <form accept-charset="UTF-8" role="form" data-ng-submit="vm.processLogin()">
            <fieldset>
			    	  <div class="form-group">
			    		  <input class="form-control" placeholder="E-mail" name="email" type="text" data-ng-model="vm.email">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" data-ng-model="vm.password">
			    		</div>
			    		<button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
			    	</fieldset>
			    </form>
			  </div>
			</div>
		</div>
	</div>
</div>
