@charset "UTF-8";

@font-face {
  font-family: "branchology";
  src:url("/fonts/branchology.eot");
  src:url("/fonts/branchology.eot?#iefix") format("embedded-opentype"),
    url("/fonts/branchology.woff") format("woff"),
    url("/fonts/branchology.ttf") format("truetype"),
    url("/fonts/branchology.svg#branchology") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "branchology" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bi-"]:before,
[class*=" bi-"]:before {
  font-family: "branchology" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-branch:before {
  content: "a";
}
.bi-tree:before {
  content: "b";
}
.bi-female:before {
  content: "c";
}
.bi-male:before {
  content: "d";
}
.bi-add:before {
  content: "e";
}
.bi-address-book:before {
  content: "f";
}
.bi-book:before {
  content: "g";
}
.bi-star-filled:before {
  content: "i";
}
.bi-star-open:before {
  content: "j";
}
.bi-graduation-cap:before {
  content: "h";
}
.bi-heart:before {
  content: "k";
}
.bi-briefcase:before {
  content: "l";
}
.bi-calendar:before {
  content: "m";
}
.bi-leaf:before {
  content: "n";
}
.bi-female-1:before {
  content: "o";
}
.bi-male-1:before {
  content: "p";
}
