@import url(http://fonts.googleapis.com/css?family=Pacifico);

.navbar-brand {
  align-items: center;
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  justify-content: center;
  padding: 0 20px 0 10px;

  i.bi-leaf {
    color: #fff;
    transform: scale(-1, 1);
  }
}

.navbar-default {
  .navbar-toggle {
    background-color: $navbar-default-toggle-bg;
  }
}
