$navbar-default-color:                #fff !default;
$navbar-default-brand-color:          $navbar-default-color !default;
$navbar-default-bg:                   #89B072 !default;
$navbar-default-link-color:           #fff !default;
$navbar-default-link-active-color:    $navbar-default-link-color !default;
$navbar-default-link-hover-color:     $navbar-default-link-active-color !default;
$navbar-default-link-hover-bg:        darken($navbar-default-bg, 6.5%) !default;

$navbar-default-toggle-bg:            darken($navbar-default-bg, 5%) !default;
$navbar-default-toggle-border-color:  darken($navbar-default-bg, 15%) !default;
$navbar-default-toggle-icon-bar-bg:   #fff !default;

$navbar-default-toggle-hover-bg:      $navbar-default-toggle-border-color !default;
