<h2>Sources</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Source</th>
      <th>Author</th>
    </tr>
  </thead>
  <tr data-ng-repeat="source in vm.sources">
    <td>
      <a href="/sources/{{source.id}}">{{source.title}}</a>
    </td>
    <td>
      {{source.author}}
    </td>
  </tr>
</table>
