<h2>{{vm.source.title}}</h2>

<form method="post" action="">
  <fieldset>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" data-ng-model="vm.source.title">
    </div>
    <div class="form-group">
      <label for="publication">Publication:</label>
      <input type="text" class="form-control" id="publication" placeholder="Enter publication" data-ng-model="vm.source.publication">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control" id="author" placeholder="Enter author" data-ng-model="vm.source.author">
    </div>
  </fieldset>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" data-ng-click="vm.save">Save Changes</button>
  </div>
</form>
